body {
    background-color: rgb(78, 78, 78);
}

.container-md {

height: 100vh;
    .input-box {
        display: flex;

    }

    background-color: gray;

    .input-group {
        padding: 5px;
    }
}